<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::meta},~{::title},~{::link})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title>友情链接添加-生命科学与技术学院</title>
    <link href="css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link href="plugin/messenger/css/messenger.css" rel="stylesheet" th:href="@{/plugin/messenger/css/messenger.css}"/>
    <link href="plugin/messenger/css/messenger-theme-air.css" rel="stylesheet"
          th:href="@{/plugin/messenger/css/messenger-theme-air.css}"/>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="nav::backstage">
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar" th:include="sidebar::backstage">
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">友情链接添加
                <small class="pull-right">
                    <button type="button" class="btn btn-primary" id="page_back">返回</button>
                </small>
            </h1>
        </div>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <form role="form" id="data_form">
                <div class="form-group" id="valid_link_name">
                    <label>链接中文名</label>
                    <input class="form-control" id="linkName" name="linkName" placeholder="链接中文名">
                    <p class="text-danger hidden" id="link_name_error_msg"></p>
                </div>
                <div class="form-group" id="valid_link_name_en">
                    <label>链接英文名</label>
                    <input class="form-control" id="linkNameEn" name="linkNameEn" placeholder="链接英文名">
                    <p class="text-danger hidden" id="link_name_en_error_msg"></p>
                </div>
                <div class="form-group" id="valid_link_url">
                    <label>链接地址</label>
                    <input class="form-control" id="linkUrl" name="linkUrl" placeholder="链接地址">
                    <p class="text-danger hidden" id="link_url_error_msg"></p>
                </div>
                <div class="form-group checkbox">
                    <label>
                        <input type="checkbox" id="linkShow" name="linkShow" value="1" checked="">正常显示</label>
                </div>
                <div class="text-center">
                    <button type="button" id="save" class="btn btn-primary">保存</button>
                    <button type="reset" class="btn btn-default">重置</button>
                </div>
            </form>
        </div>
    </div><!--/.row-->
</div>    <!--/.main-->
<script th:inline="javascript">
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
</script>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
<script src="js/csrf.js" th:src="@{/js/csrf.js}"></script>
<script src="js/backstage-main.js" th:src="@{/js/backstage-main.js}"></script>
<script src="plugin/messenger/js/messenger.js"
        th:src="@{/plugin/messenger/js/messenger.js}"></script>
<script src="js/backstage/links/links_add.js"
        th:src="@{/js/backstage/links/links_add.js}"></script>
</body>
</html>