<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::meta},~{::title},~{::link})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title th:text="#{web.meta.description} + '-' + #{web.footer.info}"></title>
    <!-- Libraries CSS Files -->
    <link href="css/animate.min.css" rel="stylesheet" th:href="@{/css/animate.min.css}"/>
    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <!-- Include Quill stylesheet -->
    <link href="plugin/KaTeX/katex.min.css" th:href="@{/plugin/KaTeX/katex.min.css}" rel="stylesheet"/>
    <link href="plugin/highlight/monokai-sublime.min.css" th:href="@{/plugin/highlight/monokai-sublime.min.css}"
          rel="stylesheet"/>
    <link href="plugin/quill/quill.bubble.css" th:href="@{/plugin/quill/quill.bubble.css}" rel="stylesheet"/>
</head>
<body>
<div class="myheader" th:include="nav::receptionHearder">
</div>
<nav class="navbar navbar-default navbar-static-top navbar-wrapper" style="margin-bottom:0px;border:0px;"
     th:include="nav::receptionNav">
</nav>

<div class="container" style="padding-bottom:10px;">
    <div class="row">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-sm-3 hidden-xs" id="sidebar" style="padding-top:5px;">
                <div class="panel panel-primary wow fadeInUp">
                    <div class="panel-heading" th:text="#{web.column.navigation}">
                    </div>
                    <div class="panel-body">
                        <div class="list-group" th:unless="${#lists.isEmpty(columns)}">
                            <a th:class="${column.menuId == columnId?'list-group-item active':'list-group-item'}"
                               th:each="column:${columns}" th:href="${column.menuLink}"
                               th:text="${ language == 'zh_cn'?column.menuName:column.menuNameEn}"></a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default wow fadeInUp">
                    <div class="panel-heading" th:text="#{web.document.retrieval}">
                    </div>
                    <div class="panel-body">
                        <form role="form" th:action="@{/user/search}" method="get">
                            <div class="input-group">
                                <input type="text" name="searchContent" class="form-control"
                                       th:placeholder="#{web.search.text} + '...'">
                                <span class="input-group-btn">
										<button class="btn btn-default" type="submit"
                                                th:text="#{web.search.text}"></button>
									</span>
                            </div>
                            <!-- /input-group -->
                        </form>
                    </div>
                </div>

            </div><!--/.sidebar-offcanvas-->

            <div class="col-xs-12 col-sm-9">
                <div class="col-md-12" style="padding: 20px;" th:unless="${#lists.isEmpty(positions)}"><i
                        class="glyphicon glyphicon-grain text-success" style="font-size: 17px;"></i> <a
                        style="color:black;" th:href="@{/}" th:text="#{web.meta.description}"></a>
                    <span th:each="position:${positions}">&gt;&gt; <a style="color:black;"
                                                                      th:href="${position.menuLink}"
                                                                      th:text="${ language == 'zh_cn'?position.menuName:position.menuNameEn}"></a></span>
                </div>
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h3 th:text="${article.articleTitle}"></h3>
                    <h5 class="text-muted" style="padding-top:10px;"><span th:text="#{web.info.time}"></span>：
                        <span th:text="${article.articleDateStr}"></span>
                        <span th:text="#{web.info.source.from}"></span>：
                        <span th:if="${article.articleSources == 0}" th:text="#{web.info.original}"></span>
                        <a th:if="${article.articleSources == 1}" th:text="${article.articleSourcesName}"
                           th:href="${article.articleSourcesLink}" style="color:black;"></a>
                        <span th:text="#{web.info.clicks}"></span>： <span th:text="${article.articleClicks}"></span>
                    </h5>
                </div>
                <div style="padding-top:5px;font-size:17px;" class="wow fadeInUp" data-wow-delay="0.2s" id="editor-container">

                </div>
                <div style="padding-top:18px;" class="wow fadeInUp" data-wow-delay="0.3s" th:if="${upArticle.articleId!=null}">
                    <span class="text-primary" th:text="#{web.pagination.previous}"></span>
                    <a href="#" style="color:black;" th:text="${upArticle.articleTitle}"
                       th:href="@{'/user/article/' + ${upArticle.articleId}}"></a>
                </div>
                <div style="padding-top:10px;" class="wow fadeInUp" data-wow-delay="0.4s" th:if="${downArticle.articleId!=null}">
                    <span class="text-primary" th:text="#{web.pagination.next}"></span>
                    <a href="#" style="color:black;" th:text="${downArticle.articleTitle}"
                       th:href="@{'/user/article/' + ${downArticle.articleId}}"></a>
                </div>
            </div><!--/.col-xs-12.col-sm-9-->
        </div><!--/row-->
    </div>
</div>

<!--==========================
    Footer
============================-->
<footer id="footer" th:include="footer::receptionFooter">
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="glyphicon glyphicon-chevron-up"></i></a>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
<!-- JavaScript Libraries -->
<script src="js/easing.min.js" th:src="@{/js/easing.min.js}"></script>
<script src="js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<script src="js/stick.js" th:src="@{/js/stick.js}"></script>
<script src="plugin/KaTeX/katex.min.js"
        th:src="@{/plugin/KaTeX/katex.min.js}"></script>
<script src="plugin/highlight/highlight.min.js"
        th:src="@{/plugin/highlight/highlight.min.js}"></script>
<script src="plugin/quill/quill.min.js"
        th:src="@{/plugin/quill/quill.min.js}"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js" th:src="@{/js/main.js}"></script>
<script th:inline="javascript">
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
    var init_page_param = {
        'language': /*[[${language}]]*/ '',
        'columnId': /*[[${columnId}]]*/ '',
        'articleContent': /*[[${article.articleContent}]]*/ ''
    };
</script>
<script src="js/reception/article_content.js" th:src="@{/js/reception/article_content.js}"></script>
</body>
</html>