<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::meta},~{::title},~{::link})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title th:text="#{web.meta.description} + '-' + #{web.footer.info}"></title>
    <!-- Libraries CSS Files -->
    <link href="css/animate.min.css" rel="stylesheet" th:href="@{/css/animate.min.css}"/>
    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="myheader" th:include="nav::receptionHearder">
</div>
<nav class="navbar navbar-default navbar-static-top navbar-wrapper" style="margin-bottom:0px;border:0px;"
     th:include="nav::receptionNav">
</nav>
<div class="container">
    <div class="row">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-sm-3 hidden-xs" id="sidebar" style="padding-top:5px;">
                <div class="panel panel-primary wow fadeInUp">
                    <div class="panel-heading" th:text="#{web.column.navigation}">

                    </div>
                    <div class="panel-body">
                        <div class="list-group" th:unless="${#lists.isEmpty(columns)}">
                            <a th:class="${column.menuId == columnId?'list-group-item active':'list-group-item'}"
                               th:each="column:${columns}" th:href="${column.menuLink}"
                               th:text="${ language == 'zh_cn'?column.menuName:column.menuNameEn}"></a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default wow fadeInUp">
                    <div class="panel-heading" th:text="#{web.document.retrieval}">

                    </div>
                    <div class="panel-body">
                        <form role="form" th:action="@{/user/search}" method="get">
                            <div class="input-group">
                                <input type="text" name="searchContent" class="form-control"
                                       th:placeholder="#{web.search.text} + '...'">
                                <span class="input-group-btn">
										<button class="btn btn-default" type="submit"
                                                th:text="#{web.search.text}"></button>
									</span>
                            </div>
                            <!-- /input-group -->
                        </form>
                    </div>
                </div>
            </div>
            <!--/.sidebar-offcanvas-->
            <div class="col-xs-12 col-sm-9">
                <div class="jumbotron" style="padding-left:1px;padding-bottom:1px;padding-right:1px;padding-top:5px;">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"
                         th:unless="${#lists.isEmpty(banners)}">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0"
                                th:data-slide-to="${row.count-1}" th:each="banner,row:${banners}"
                                th:class="${row.count == 1?'active':''}"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div th:each="banner,row:${banners}" th:class="${row.count == 1?'item active':'item'}">
                                <img alt="banner" th:src="@{'/' + ${banner.bannerLink}}">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" role="button"
                           data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button"
                           data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" th:unless="${#lists.isEmpty(positions)}"><i
                            class="glyphicon glyphicon-grain text-success" style="font-size: 17px;"></i> <a
                            style="color:black;" th:href="@{/}" th:text="#{web.meta.description}"></a>
                        <span th:each="position:${positions}">&gt;&gt; <a style="color:black;"
                                                                          th:href="${position.menuLink}"
                                                                          th:text="${ language == 'zh_cn'?position.menuName:position.menuNameEn}"></a></span>
                    </div>
                    <div class="col-md-12 wow fadeInUp" style="padding-top:10px;">
                        <ul class="list-unstyled" id="tableData">

                        </ul>
                    </div>
                    <div class="col-md-12 text-right" id="pagination">

                    </div>
                </div>
                <!--/row-->
            </div>
            <!--/.col-xs-12.col-sm-9-->
        </div>
        <!--/row-->
    </div>
</div>
<!--==========================
        Footer
    ============================-->
<footer id="footer" th:include="footer::receptionFooter">
</footer>
<!-- #footer -->
<a href="#" class="back-to-top"><i class="glyphicon glyphicon-chevron-up"></i></a>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
<!-- JavaScript Libraries -->
<script src="js/easing.min.js" th:src="@{/js/easing.min.js}"></script>
<script src="js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<script src="js/stick.js" th:src="@{/js/stick.js}"></script>
<script src="plugin/jquery_simple_pagination/jquery.simplePagination.min.js"
        th:src="@{/plugin/jquery_simple_pagination/jquery.simplePagination.min.js}"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js" th:src="@{/js/main.js}"></script>
<script th:inline="javascript">
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
    var init_page_param = {
        'language': /*[[${language}]]*/ '',
        'columnId': /*[[${columnId}]]*/ ''
    };
</script>
<script src="js/reception/article_list.js" th:src="@{/js/reception/article_list.js}"></script>
</body>

</html>