<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::meta},~{::title},~{::link})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title>栏目添加-生命科学与技术学院</title>
    <link href="css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="nav::backstage">
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar" th:include="sidebar::backstage">
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">栏目添加</h1>
        </div>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-12">


        </div>
    </div><!--/.row-->
</div>    <!--/.main-->
<script th:inline="javascript">
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
</script>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
<script src="js/csrf.js" th:src="@{/js/csrf.js}"></script>
<script src="js/backstage-main.js" th:src="@{/js/backstage-main.js}"></script>
<script src="plugin/handlebars/handlebars.js"
        th:src="@{/plugin/handlebars/handlebars.js}"></script>
<script src="js/backstage/menus/menus_add.js"
        th:src="@{/js/backstage/menus/menus_add.js}"></script>
</body>

</html>