<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::meta},~{::title},~{::link})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title>栏目管理-生命科学与技术学院</title>
    <link href="css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link href="plugin/bootstrap-table/bootstrap-table.min.css" rel="stylesheet"
          th:href="@{/plugin/bootstrap-table/bootstrap-table.css}"/>
    <link href="plugin/messenger/css/messenger.css" rel="stylesheet" th:href="@{/plugin/messenger/css/messenger.css}"/>
    <link href="plugin/messenger/css/messenger-theme-air.css" rel="stylesheet"
          th:href="@{/plugin/messenger/css/messenger-theme-air.css}"/>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="nav::backstage">
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar" th:include="sidebar::backstage">
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">栏目管理</h1>
        </div>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <form class="form-inline text-center">
                <div class="form-group">
                    <input type="text" class="form-control" id="menuName"
                           placeholder="中文名">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="menuNameEn"
                           placeholder="英文名">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="menuPidName"
                           placeholder="父级">
                </div>
            </form>
            <div class="text-center" style="padding: 10px;">
                <button type="button" id="search" class="btn btn-default">搜索</button>
                <button type="button" id="reset_search" class="btn btn-default">重置</button>
            </div>
            <div id="toolbar" class="btn-group">
                <button id="add" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                </button>
            </div>
            <table data-toggle="table" data-show-refresh="true"
                   data-show-columns="true" data-sort-name="menuName"
                   data-show-toggle="true" data-sort-order="asc"
                   data-locale="zh-CN" id="dataTable">
                <thead>
                <tr>
                    <th data-field="menuName" data-sortable="true">中文名</th>
                    <th data-field="menuNameEn" data-sortable="true">英文名</th>
                    <th data-field="outLink" data-formatter="formatterOutLink">是否外链</th>
                    <th data-field="menuLink">链接</th>
                    <th data-field="menuPidName" data-formatter="formatterPidName">父级</th>
                    <th data-field="menuOrder">序号</th>
                    <th data-field="menuShow" data-formatter="formatterShow">是否显示</th>
                    <th data-field="showArticle" data-formatter="formatterShowArticle">显示文章</th>
                    <th data-formatter="operation">操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div><!--/.row-->
</div>    <!--/.main-->
<!--定义操作列按钮模板-->
<script id="operator_button" type="text/x-handlebars-template">
    <div class="btn-group" role="group">
        {{#each func}}
        <button type="button" class="btn btn-{{this.type}} btn-sm {{this.css}}" data-id="{{this.id}}"
                data-menu="{{this.menu}}" data-show="{{this.show}}">
            {{this.name}}
        </button>
        {{/each}}
    </div>
</script>
<script th:inline="javascript">
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
    var init_page_param = {
        'homeId': /*[[${homeId}]]*/ ''
    };
</script>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
<script src="js/csrf.js" th:src="@{/js/csrf.js}"></script>
<script src="js/backstage-main.js" th:src="@{/js/backstage-main.js}"></script>
<script src="plugin/bootstrap-table/bootstrap-table.js"
        th:src="@{/plugin/bootstrap-table/bootstrap-table.js}"></script>
<script src="plugin/bootstrap-table/locale/bootstrap-table-zh-CN.js"
        th:src="@{/plugin/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
<script src="plugin/messenger/js/messenger.js"
        th:src="@{/plugin/messenger/js/messenger.js}"></script>
<script src="plugin/handlebars/handlebars.js"
        th:src="@{/plugin/handlebars/handlebars.js}"></script>
<script src="js/backstage/menus/menus_list.js"
        th:src="@{/js/backstage/menus/menus_list.js}"></script>
</body>

</html>