<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::meta},~{::title},~{::link})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title>文章添加-生命科学与技术学院</title>
    <link href="css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link href="plugin/messenger/css/messenger.css" rel="stylesheet" th:href="@{/plugin/messenger/css/messenger.css}"/>
    <link href="plugin/messenger/css/messenger-theme-air.css" rel="stylesheet"
          th:href="@{/plugin/messenger/css/messenger-theme-air.css}"/>
    <link href="plugin/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet"
          th:href="@{/plugin/bootstrap-select/css/bootstrap-select.min.css}"/>
    <link href="plugin/jquery_file_upload/css/jquery.fileupload.min.css"
          th:href="@{/plugin/jquery_file_upload/css/jquery.fileupload.min.css}" rel="stylesheet"/>
    <!-- Include Quill stylesheet -->
    <link href="plugin/KaTeX/katex.min.css" th:href="@{/plugin/KaTeX/katex.min.css}" rel="stylesheet"/>
    <link href="plugin/highlight/monokai-sublime.min.css" th:href="@{/plugin/highlight/monokai-sublime.min.css}"
          rel="stylesheet"/>
    <link href="plugin/quill/quill.snow.css" th:href="@{/plugin/quill/quill.snow.css}" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="nav::backstage">
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar" th:include="sidebar::backstage">
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">文章添加
                <small class="pull-right">
                    <button type="button" class="btn btn-primary" id="page_back">返回</button>
                </small>
            </h1>
        </div>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <form role="form" id="data_form">
                <div class="form-group">
                    <label>所属栏目</label>
                    <select class="form-control selectpicker" data-live-search="true" id="menuId" name="menuId">
                    </select>
                </div>
                <div class="form-group" id="valid_article_title">
                    <label>标题</label>
                    <input class="form-control" id="articleTitle" name="articleTitle" placeholder="标题">
                    <p class="text-danger hidden" id="article_title_error_msg"></p>
                </div>
                <div class="form-group">
                    <label>简介</label>
                    <input class="form-control" id="articleBrief" name="articleBrief" placeholder="简介">
                </div>
                <div class="form-group">
                    <label>封面</label>
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img data-src="holder.js/100%x200" id="articleCoverTemp" alt="100%x200"
                                     src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzE5IiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDMxOSAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTYyYmUyMDgyYWQgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxNnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNjJiZTIwODJhZCI+PHJlY3Qgd2lkdGg9IjMxOSIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMTcuOTg0Mzc1IiB5PSIxMDcuMiI+MzE5eDIwMDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="
                                     data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                                <div class="caption text-center">
                                    <span class="btn btn-primary fileinput-button">
                                        <span>上传</span>
                                        <!-- The file input field used as target for the file upload widget -->
                                        <input id="fileupload" type="file" name="files[]"/>
                                    </span>
                                    <button type="button" id="clearImg" class="btn btn-default" role="button">清除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="articleCover" name="articleCover" class="form-control"/>
                </div>
                <div class="form-group" id="valid_article_content" style="background-color: white;">
                    <div id="toolbar-container">
                            <span class="ql-formats">
                                <select class="ql-font"></select>
                                <select class="ql-size"></select>
                            </span>
                        <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-strike"></button>
                            </span>
                        <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                            </span>
                        <span class="ql-formats">
                                <button class="ql-script" value="sub"></button>
                                <button class="ql-script" value="super"></button>
                            </span>
                        <span class="ql-formats">
                                <button class="ql-header" value="1"></button>
                                <button class="ql-header" value="2"></button>
                                <button class="ql-blockquote"></button>
                                <button class="ql-code-block"></button>
                            </span>
                        <span class="ql-formats">
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                                <button class="ql-indent" value="-1"></button>
                                <button class="ql-indent" value="+1"></button>
                            </span>
                        <span class="ql-formats">
                                <button class="ql-direction" value="rtl"></button>
                                <select class="ql-align"></select>
                            </span>
                        <span class="ql-formats">
                                <button class="ql-link"></button>
                                <button class="ql-image"></button>
                                <button class="ql-video"></button>
                                <button class="ql-formula"></button>
                            </span>
                        <span class="ql-formats">
                                <button class="ql-clean"></button>
                            </span>
                    </div>
                    <div id="editor-container" style="height: 500px;z-index: 2000;"></div>
                </div>
                <div class="form-group">
                    <label>文章来源</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="articleSources" id="original" value="0" checked=""/>原创
                        </label>
                    </div>
                    <div class="radio">
                        <div class="row">
                            <div class="col-md-1">
                                <label style="padding-top: 10px;">
                                    <input type="radio" name="articleSources" id="other" value="1"/>其它
                                </label>
                            </div>
                            <div class="col-md-5">
                                <input type="hidden" class="form-control" name="articleSourcesName"
                                       id="articleSourcesName"
                                       placeholder="来源处.."/>
                            </div>
                            <div class="col-md-6">
                                <input type="hidden" class="form-control" name="articleSourcesLink"
                                       id="articleSourcesLink"
                                       placeholder="原文链接"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" id="save" class="btn btn-primary">保存</button>
                    <button type="reset" class="btn btn-default">重置</button>
                </div>
            </form>
        </div>
    </div><!--/.row-->
</div>    <!--/.main-->
<!--PID模板-->
<script id="pid-template" type="text/x-handlebars-template">
    {{#each listResult}}
    <option value="{{menuId}}">{{menuName}}</option>
    {{/each}}
</script>
<script th:inline="javascript">
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
</script>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
<script src="js/csrf.js" th:src="@{/js/csrf.js}"></script>
<script src="js/backstage-main.js" th:src="@{/js/backstage-main.js}"></script>
<script src="plugin/messenger/js/messenger.js"
        th:src="@{/plugin/messenger/js/messenger.js}"></script>
<script src="plugin/handlebars/handlebars.js"
        th:src="@{/plugin/handlebars/handlebars.js}"></script>
<script src="plugin/bootstrap-select/js/bootstrap-select.min.js"
        th:src="@{/plugin/bootstrap-select/js/bootstrap-select.min.js}"></script>
<script src="plugin/bootstrap-select/js/i18n/defaults-zh_CN.min.js"
        th:src="@{/plugin/bootstrap-select/js/i18n/defaults-zh_CN.min.js}"></script>
<script src="plugin/jquery_file_upload/js/vendor/jquery.ui.widget.min.js"
        th:src="@{/plugin/jquery_file_upload/js/vendor/jquery.ui.widget.min.js}"></script>
<script src="plugin/jquery_file_upload/js/jquery.iframe-transport.min.js"
        th:src="@{/plugin/jquery_file_upload/js/jquery.iframe-transport.min.js}"></script>
<script src="plugin/jquery_file_upload/js/jquery.fileupload.min.js"
        th:src="@{/plugin/jquery_file_upload/js/jquery.fileupload.min.js}"></script>
<script src="plugin/jquery_file_upload/js/jquery.fileupload-process.min.js"
        th:src="@{/plugin/jquery_file_upload/js/jquery.fileupload-process.min.js}"></script>
<script src="plugin/jquery_file_upload/js/jquery.fileupload-validate.min.js"
        th:src="@{/plugin/jquery_file_upload/js/jquery.fileupload-validate.min.js}"></script>
<script src="plugin/KaTeX/katex.min.js"
        th:src="@{/plugin/KaTeX/katex.min.js}"></script>
<script src="plugin/highlight/highlight.min.js"
        th:src="@{/plugin/highlight/highlight.min.js}"></script>
<script src="plugin/quill/quill.min.js"
        th:src="@{/plugin/quill/quill.min.js}"></script>
<script src="js/backstage/article/article_add.js"
        th:src="@{/js/backstage/article/article_add.js}"></script>
</body>
</html>