<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Footer</title>
</head>
<body>
<!--==========================
    Footer
============================-->
<footer id="footer" th:fragment="receptionFooter">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 footer-links">
                    <h4><span th:text="#{web.friendly.link}">友情链接</span>
                        <small>LINKS</small>
                    </h4>
                    <ul th:unless="${#lists.isEmpty(friendlyLinks)}">
                        <li th:each="link:${friendlyLinks}"><i class="glyphicon glyphicon-chevron-right"></i> <a th:href="${link.linkUrl}" th:text="${ language == 'zh_cn'?link.linkName:link.linkNameEn}"></a></li>
                    </ul>
                </div>

                <div class="col-lg-6 col-md-6 footer-contact">
                    <h4 th:text="#{web.contact.us}">联系我们</h4>
                    <p>
                        <strong th:text="#{web.footer.address}">地址:</strong> <span th:utext="${website_address}"></span><br/>
                        <strong th:text="#{web.footer.zip.code}">邮编:</strong> <span th:utext="${website_zipCode}"></span> <br>
                        <strong th:text="#{web.footer.phone}">电话:</strong> <span th:utext="${website_phone}"></span><br>
                        <strong th:text="#{web.footer.fax}">传真:</strong> <span th:utext="${website_fax}"></span><br>
                    </p>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong th:text="#{web.footer.info}">昆明理工大学</strong>. All Rights Reserved
        </div>
    </div>
</footer><!-- #footer -->
</body>
</html>