<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::meta},~{::title},~{::link})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title th:text="#{web.meta.description} + '-' + #{web.footer.info}"></title>
    <!-- Libraries CSS Files -->
    <link href="css/animate.min.css" rel="stylesheet" th:href="@{/css/animate.min.css}"/>
    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="myheader" th:include="nav::receptionHearder">
</div>
<nav class="navbar navbar-default navbar-static-top navbar-wrapper" style="margin-bottom:0px;border:0px;"
     th:include="nav::receptionNav">
</nav>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" th:unless="${#lists.isEmpty(banners)}">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" th:data-slide-to="${row.count-1}"
            th:each="banner,row:${banners}" th:class="${row.count == 1?'active':''}"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div th:each="banner,row:${banners}" th:class="${row.count == 1?'item active':'item'}">
            <img alt="banner" th:src="@{'/' + ${banner.bannerLink}}">
            <div class="carousel-caption">
                <h3 th:text="${language == 'zh_cn'?banner.bannerTitle:banner.bannerTitleEn}"></h3>
                <p th:text="${language == 'zh_cn'?banner.bannerBrief:banner.bannerBriefEn}"></p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 about wow fadeInUp">
            <div class="container">
                <div class="about-area">
                    <div class="title-area text-center">
                        <h2 class="about-title"><span id="templateName0"></span>
                            <small>NEWS</small>
                        </h2>
                    </div><!-- /.title-area -->
                    <div class="about-items" id="templateImageData0">
                        <div class="col-sm-12">
                            <a class="btn pull-right" style="margin:20px;" href="#" id="templateUrl0">
                                <span class="btn-icon"><i class="glyphicon glyphicon-arrow-right"></i></span>
                                <span th:utext="#{web.more}"></span>
                            </a>
                        </div>
                    </div><!-- /.about-items -->
                </div><!-- /.about-area -->
            </div><!-- /.container -->
        </div>
        <div class="col-md-12 services">
            <div class="container">
                <div class="service-area">
                    <div class="row">
                        <div class="service-items">
                            <div class="col-sm-6">
                                <div class="item item-1 wow fadeInUp">
                                    <div class="row">
                                        <div class="col-sm-6" id="templateImage2">
                                            <h3 class="item-title" id="templateName2"></h3>
                                        </div>
                                        <div class="col-sm-6" style="padding-top:60px;">
                                            <p class="item-description" id="templateBrief2">

                                            </p><!-- /.item-description -->
                                            <a class="btn" href="#" id="templateUrl2">
                                                <span class="btn-icon"><i
                                                        class="glyphicon glyphicon-arrow-right"></i></span>
                                                <span th:utext="#{web.more}"></span>
                                            </a>
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.item -->

                                <div class="item item-2 wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="row">
                                        <div class="col-sm-6" id="templateImage3">
                                            <h3 class="item-title" id="templateName3"></h3>
                                        </div>
                                        <div class="col-sm-6" style="padding-top:60px;">
                                            <p class="item-description" id="templateBrief3">

                                            </p><!-- /.item-description -->
                                            <a class="btn" href="#" id="templateUrl3">
                                                <span class="btn-icon"><i
                                                        class="glyphicon glyphicon-arrow-right"></i></span>
                                                <span th:utext="#{web.more}"></span>
                                            </a>
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.item -->
                            </div>
                            <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                                <h3 class="item-title" id="templateName1"></h3>
                                <div class="service-accordion">
                                    <div class="accordion">
                                        <div class="panel-group" role="tablist" aria-multiselectable="true"
                                             id="templateData10">
                                            <div class="col-sm-12">
                                                <a class="btn pull-right" style="margin:20px;" href="#"
                                                   id="templateUrl1">
                                                    <span class="btn-icon"><i
                                                            class="glyphicon glyphicon-arrow-right"></i></span>
                                                    <span th:utext="#{web.more}"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!-- /.accordion -->

                                </div><!-- /.service-accordion -->
                            </div>
                        </div><!-- /.service-items -->
                    </div><!-- /.row -->
                </div><!-- /.service-area -->
            </div><!-- /.container -->
            <!-- /#services -->
        </div>
        <div class="col-md-12 latest-post wow fadeInUp">
            <div class="container">
                <div class="post-area">
                    <div class="post-area-top text-center">
                        <h2 class="post-area-title" id="templateName4"></h2>
                        <div class="col-sm-12 post-footer">
                            <a class="btn pull-right" href="#" id="templateUrl4">
                                <span class="btn-icon"><i class="glyphicon glyphicon-arrow-right"></i></span>
                                <span th:utext="#{web.more}"></span>
                            </a>
                        </div>
                    </div><!-- /.post-area-top -->
                    <div class="row">
                        <div class="latest-posts" id="templateImageData4">
                        </div><!-- /.latest-posts -->
                    </div><!-- /.row -->
                </div><!-- /.post-area -->
            </div><!-- /.container -->
        </div>
        <div class="col-md-12 research-trends">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="h3-line" id="templateName5"></h3>
                </div>
                <div class="col-md-2" style="padding-top:35px;">
                    <a class="btn" href="#" id="templateUrl5">
                        <span class="btn-icon"><i class="glyphicon glyphicon-arrow-right"></i></span>
                        <span th:utext="#{web.more}"></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 wow fadeInUp">
                    <div class="thumbnail" id="templateImage50">

                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="thumbnail" id="templateImage51">

                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="thumbnail" id="templateImage52">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--==========================
    Footer
============================-->
<footer id="footer" th:include="footer::receptionFooter">
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="glyphicon glyphicon-chevron-up"></i></a>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
<!-- JavaScript Libraries -->
<script src="js/easing.min.js" th:src="@{/js/easing.min.js}"></script>
<script src="js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<script src="js/stick.js" th:src="@{/js/stick.js}"></script>
<script src="js/jquery.lazyload.min.js" th:src="@{/plugin/jquery_lazyload/jquery.lazyload.min.js}"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js" th:src="@{/js/main.js}"></script>
<script th:inline="javascript">
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
    var init_page_param = {
        'language': /*[[${language}]]*/ ''
    };
</script>
<script src="js/reception/index.js" th:src="@{/js/reception/index.js}"></script>
</body>
</html>