<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::meta},~{::title},~{::link})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title>生命科学与技术学院-昆明理工大学</title>
    <!-- Libraries CSS Files -->
    <link href="css/animate.min.css" rel="stylesheet" th:href="@{/css/animate.min.css}"/>
    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="myheader" th:include="nav::receptionHearder">
</div>
<nav class="navbar navbar-default navbar-static-top navbar-wrapper" style="margin-bottom:0px;border:0px;"
     th:include="nav::receptionNav">
</nav>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img alt="First slide [900x500]" src="images/1.jpg">
        </div>
        <div class="item">
            <img alt="Second slide [900x500]" src="images/2.jpg">
        </div>
        <div class="item">
            <img alt="Third slide [900x500]" src="images/3.jpg">
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 wow fadeInUp">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="h3-line"><span id="templateName0">学院新闻</span>
                        <small>NEWS</small>
                    </h3>
                </div>
                <div class="col-md-2" style="padding-top:35px;">
                    <strong><a href="#" style="color:black;" th:utext="#{web.more}"
                               id="templateUrl0">更多&gt;&gt;</a></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" id="templateImage0">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row" id="templateData00">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row" id="templateData01">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 wow fadeInUp">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="h3-line" id="templateName1">通知公告</h3>
                </div>
                <div class="col-md-2" style="padding-top:35px;">
                    <strong><a href="#" style="color:black;" th:utext="#{web.more}"
                               id="templateUrl1">更多&gt;&gt;</a></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" id="templateData10">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="templateImage1">

                </div>
            </div>
        </div>
        <div class="col-md-6 wow fadeInUp">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="h3-line" id="templateName2">学术活动</h3>
                </div>
                <div class="col-md-2" style="padding-top:35px;">
                    <strong><a href="#" style="color:black;" th:utext="#{web.more}"
                               id="templateUrl2">更多&gt;&gt;</a></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img data-src="holder.js/100%x200" alt="100%x200" src="images/1.jpg" data-holder-rendered="true"
                         style="height: 160px; width: 100%; display: block;">
                    <h4>北京大学全面从严治党工作会暨学习贯彻党的十九大精神集中轮训开班式举行</h4>
                    <p>会议的主题是部署2018年全面从严治党工作，并进行全校中层干部参加学习贯彻党的十九大精神集中轮训的开班动员。</p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12" style="padding-top: 10px;">
                            <a style="font-size: 14px;color: #333;" href="#">校财务党支部与审计厅支部、教育厅支部在灵长类转化医</a>
                            <hr/>
                        </div>
                        <div class="col-md-12" style="padding-top: 10px;">
                            <a style="font-size: 14px;color: #333;" href="#">校财务党支部与审计厅支部、教育厅支部在灵长类转化医</a>
                            <hr/>
                        </div>
                        <div class="col-md-12" style="padding-top: 10px;">
                            <a style="font-size: 14px;color: #333;" href="#">校财务党支部与审计厅支部、教育厅支部在灵长类转化医</a>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="h3-line" id="templateName3">就业信息</h3>
                </div>
                <div class="col-md-2" style="padding-top:35px;">
                    <strong><a href="#" style="color:black;" th:utext="#{web.more}"
                               id="templateUrl3">更多&gt;&gt;</a></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12" style="padding-top: 10px;">
                            <a style="font-size: 14px;color: #333;" href="#">校财务党支部与审计厅支部、教育厅支部在灵长类转化医</a>
                            <hr/>
                        </div>
                        <div class="col-md-12" style="padding-top: 10px;">
                            <a style="font-size: 14px;color: #333;" href="#">校财务党支部与审计厅支部、教育厅支部在灵长类转化医</a>
                            <hr/>
                        </div>
                        <div class="col-md-12" style="padding-top: 10px;">
                            <a style="font-size: 14px;color: #333;" href="#">校财务党支部与审计厅支部、教育厅支部在灵长类转化医</a>
                            <hr/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img data-src="holder.js/100%x200" alt="100%x200" src="images/1.jpg" data-holder-rendered="true"
                         style="height: 160px; width: 100%; display: block;">
                    <h4>北京大学全面从严治党工作会暨学习贯彻党的十九大精神集中轮训开班式举行</h4>
                    <p>会议的主题是部署2018年全面从严治党工作，并进行全校中层干部参加学习贯彻党的十九大精神集中轮训的开班动员。</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 wow bounceInUp">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="h3-line" id="templateName4">科研成果</h3>
                </div>
                <div class="col-md-2" style="padding-top:35px;">
                    <strong><a href="#" style="color:black;" th:utext="#{web.more}"
                               id="templateUrl4">更多&gt;&gt;</a></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img data-src="holder.js/100%x200" alt="100%x200" src="images/1.jpg" data-holder-rendered="true"
                         style="height: 160px; width: 100%; display: block;">
                    <h4>北京大学全面从严治党工作会暨学习贯彻党的十九大精神集中轮训开班式举行</h4>
                    <p>会议的主题是部署2018年全面从严治党工作，并进行全校中层干部参加学习贯彻党的十九大精神集中轮训的开班动员。</p>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12" style="padding-top: 10px;">
                                    <a style="font-size: 14px;color: #333;" href="#">校财务党支部与审计厅支部、教育厅支部在灵长类转化医</a>
                                    <hr/>
                                </div>
                                <div class="col-md-12" style="padding-top: 10px;">
                                    <a style="font-size: 14px;color: #333;" href="#">校财务党支部与审计厅支部、教育厅支部在灵长类转化医</a>
                                    <hr/>
                                </div>
                                <div class="col-md-12" style="padding-top: 10px;">
                                    <a style="font-size: 14px;color: #333;" href="#">校财务党支部与审计厅支部、教育厅支部在灵长类转化医</a>
                                    <hr/>
                                </div>
                                <div class="col-md-12" style="padding-top: 10px;">
                                    <a style="font-size: 14px;color: #333;" href="#">校财务党支部与审计厅支部、教育厅支部在灵长类转化医</a>
                                    <hr/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12" style="padding-top: 10px;">
                                    <a style="font-size: 14px;color: #333;" href="#">校财务党支部与审计厅支部、教育厅支部在灵长类转化医</a>
                                    <hr/>
                                </div>
                                <div class="col-md-12" style="padding-top: 10px;">
                                    <a style="font-size: 14px;color: #333;" href="#">校财务党支部与审计厅支部、教育厅支部在灵长类转化医</a>
                                    <hr/>
                                </div>
                                <div class="col-md-12" style="padding-top: 10px;">
                                    <a style="font-size: 14px;color: #333;" href="#">校财务党支部与审计厅支部、教育厅支部在灵长类转化医</a>
                                    <hr/>
                                </div>
                                <div class="col-md-12" style="padding-top: 10px;">
                                    <a style="font-size: 14px;color: #333;" href="#">校财务党支部与审计厅支部、教育厅支部在灵长类转化医</a>
                                    <hr/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 wow fadeInUp">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="h3-line" id="templateName5">科研动态</h3>
                </div>
                <div class="col-md-2" style="padding-top:35px;">
                    <strong><a href="#" style="color:black;" th:utext="#{web.more}"
                               id="templateUrl5">更多&gt;&gt;</a></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img data-src="holder.js/100%x200" alt="100%x200" src="images/1.jpg" data-holder-rendered="true"
                             style="height: 200px; width: 100%; display: block;">
                        <div class="caption">
                            <h4>北京大学全面从严治党工作会暨学习贯彻党的十九大精神集中轮训开班式举行</h4>
                            <p>会议的主题是部署2018年全面从严治党工作，并进行全校中层干部参加学习贯彻党的十九大精神集中轮训的开班动员。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img data-src="holder.js/100%x200" alt="100%x200" src="images/1.jpg" data-holder-rendered="true"
                             style="height: 200px; width: 100%; display: block;">
                        <div class="caption">
                            <h4>北京大学全面从严治党工作会暨学习贯彻党的十九大精神集中轮训开班式举行</h4>
                            <p>会议的主题是部署2018年全面从严治党工作，并进行全校中层干部参加学习贯彻党的十九大精神集中轮训的开班动员。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img data-src="holder.js/100%x200" alt="100%x200" src="images/1.jpg" data-holder-rendered="true"
                             style="height: 200px; width: 100%; display: block;">
                        <div class="caption">
                            <h4>北京大学全面从严治党工作会暨学习贯彻党的十九大精神集中轮训开班式举行</h4>
                            <p>会议的主题是部署2018年全面从严治党工作，并进行全校中层干部参加学习贯彻党的十九大精神集中轮训的开班动员。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--==========================
    Footer
============================-->
<footer id="footer" th:include="footer::receptionFooter">
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="glyphicon glyphicon-chevron-up"></i></a>

<script th:inline="javascript">
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
</script>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
<!-- JavaScript Libraries -->
<script src="js/easing.min.js" th:src="@{/js/easing.min.js}"></script>
<script src="js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<script src="js/stick.js" th:src="@{/js/stick.js}"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js" th:src="@{/js/main.js}"></script>
<script th:inline="javascript">
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
    var init_page_param = {
        'language': /*[[${language}]]*/ ''
    };
</script>
<script src="js/reception/index.js" th:src="@{/js/reception/index.js}"></script>
</body>
</html>